:root {
  --primary-color: rgb(236, 236, 236);
  --secondary-color: rgb(21, 21, 21);
  --blue-color: #2bc5cd;
  --orange-color: #ff693d;
  --border: 2px solid var(--blue-color);
  --spacing: 28px;
  font-family: Arial, Helvetica, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p {
  color: var(--primary-color);
  text-align: justify;
  font-size: clamp(1rem, 3vw, 1.6rem);
}

h1 {
  text-align: center;
  color: var(--primary-color);
  font-size: clamp(1.6rem, 5vw, 2.6rem);
}

h2 {
  text-align: center;
  color: var(--blue-color);
  font-size: clamp(1.5rem, 5vw, 2.8rem);
}

h3 {
  color: var(--primary-color);
  font-size: clamp(1.2rem, 3vw, 2rem);
}

.container {
  max-width: 2000px;
  min-height: 100vh;
  padding: 2svw;
  margin: 0 auto;
  display: grid;
  gap: var(--spacing);
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(auto-fit, minmax(auto, 500px));
  grid-template-areas:
    'header school student'
    'header main time'
    'alumni footer footer';
}

header {
  padding: 30px;
  display: grid;
  grid-area: header;
  background-color: var(--blue-color);
}

main {
  padding: 30px;
  grid-area: main;
  border: var(--border);
  align-content: center;
}

footer {
  padding: 30px;
  display: grid;
  grid-area: footer;
  grid-template-rows: repeat(4, auto);
  background-color: var(--orange-color);
}

button {
  max-width: 40%;
  padding: clamp(1rem, 1vw, 2rem);
  border: none;
  font-size: clamp(0.8rem, 1vw, 1.6rem);
  font-weight: bold;
}

.school {
  grid-area: school;
  background-image: url(https://images03.nicepage.com/c461c07a441a5d220e8feb1a/d8ce469044b958508f4bdbab/blueschoolbackpackwithessentialsupplies_232148207678.jpg);
}

.student {
  grid-area: student;
  background-image: url(https://images03.nicepage.com/c461c07a441a5d220e8feb1a/9e4ce16148dd5cbeb1065410/89f80abe-6acd-d8dc-a341-3e571206975b.jpg);
}

.time {
  grid-area: time;
  background-image: url(https://images03.nicepage.com/c461c07a441a5d220e8feb1a/773a5aa425b1502aaac14708/f2b45624-c8f6-3aa0-0ee4-58adda3c89b0.jpg);
}

.alumni {
  grid-area: alumni;
  background-image: url(https://images03.nicepage.com/c461c07a441a5d220e8feb1a/89993ff69c3e5244ad2bf1ba/blondestudentgirlissmilingholdingfoldernotebookherhandsuniversitybackground_101969664.jpg);
}

.alumni,
.school,
.student,
.time {
  background-size: cover;
}

@media screen and (max-width: 1200px) {
  .container {
    grid-template-rows: repeat(5, minmax(380px, auto));
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      'header header'
      'school time'
      'main main'
      'student alumni'
      'footer footer';
  }
}

@media screen and (max-width: 680px) {
  .container {
    grid-template-rows: repeat(8, minmax(350px, auto));
    grid-template-columns: 1fr;
    grid-template-areas:
      'header'
      'header'
      'school'
      'time'
      'main'
      'student'
      'alumni'
      'footer';
  }
}
